{% extends "base.html" %}
{% block content %}

<div class="container mt-5">

<div class="card shadow mx-auto" style="max-width:600px;">

{% if device.image %} <img src="{{ device.image.url }}"
  class="card-img-top"
  style="height:300px;object-fit:cover;">
{% endif %}

<div class="card-body text-center">

<h3>{{ device.name }}</h3>
<p><strong>Brand:</strong> {{ device.brand }}</p>
<p><strong>Condition:</strong> {{ device.condition }}</p>
<p>{{ device.description }}</p>

<h4 class="text-success">₹{{ device.price }}</h4>

{% if device.is_sold %} <span class="badge bg-danger">SOLD</span>
{% endif %}

</div>

</div>

</div>

{% endblock %}
